- name: update packages
  apt:
    update_cache: yes

- name: instaliraj docker
  apt:
    name: docker.io
    state: present

- name: enable docker 
  systemd:
    name: docker
    enabled: yes
    state: started

- name: run ms sql v dockerju
  command: >
    docker run -e "ACCEPT_EULA=Y"
    -e "MSSQL_SA_PASSWORD=Arhitekt2025"
    -e "MSSQL_PID=Developer"
    -p 1433:1433
    --name arhitekt-sql
    -d mcr.microsoft.com/mssql/server:2025-latest
  args:
    creates: /var/lib/docker/containers/arhitekt-sql

- name: wait for ms sql server to start
  pause:
    seconds: 30

- name: run redis
  command: docker run -p 6379:6379 --name arhitekt-redis -d redis:7
  args:
    creates: /var/lib/docker/containers/arhitekt-redis    

- name: install .net SDK
  apt:
    name: dotnet-sdk-8.0
    state: present

- name: clone git repo
  git:
    repo: "https://github.com/evamuller2005/arhitekt-devops-test.git"
    dest: "/home/vagrant/arhitekt-devops"

- name: publish dotnet app
  command: dotnet publish -c Release -o /home/vagrant/arhitekt-published
  args:
    chdir: /home/vagrant/arhitekt-devops    